@*model IQueryable<Employes>*@
@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;

    string[] TableHeaders = new string[] { "Id" ,"Вамилия ","Отдел ","Кабинет ","Монитор ","Монитор инвентарный","Монитор серийный",
                                            "Компьютер ","Компьютер инвентарный","Компьютер серийный",
                                            "Принтер ","Принтер инвентарный","Принтер серийный","PC_ID",
                                            "PC Id","Mon_ID","Monitors Id","Printer_ID","Printers Id"};
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Данные по технике</h3>        

        <div class="table">
            <table class=" table table-bordered table-hover">
                <thead>
                    <tr>
                        @foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var Data in Model)
                            {
                                <tr>
                                    @*<td>@Data.Id</td>*@
                                    <td>@Data.FIO</td>
                                    <td>@Data.otdel</td>
                                    <td>@Data.Room</td>
                                    <td>@Data.mon</td>
                                    <td>@Data.pc</td>
                                    <td>@Data.printer</td>
                                    <td>@Data.PC_ID</td>
                                    @*<td>@Data.PCId</td>*@
                                    <td>@Data.Mon_ID</td>
                                    @*<td>@Data.MonitorsId</td>*@
                                    <td>@Data.Printer_ID</td>
                                    @*<td>@Data.PrintersId</td>*@

                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
        </div>


        @*if (Model.Any())
        {
            <div>
                @foreach (ServiceItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                        |
                        @*<form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.FIO}")
                        </a>
                    </div>
                }
            </div>
        }*@
    </div>

    <div class="div-box">
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
        @*<a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>*@
    </div>

    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>